@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1440px; /* The limit you want to set */
  margin-left: auto; /* Centers the container */
  margin-right: auto;
  padding: 0 20px; /* Prevents content from touching edges on mobile */
  width: 100%; /* Ensures it stays responsive on smaller screens */
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-color: #e1dcd3;

  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: auto;
}

.link:hover {
  color: #691414;
}
.mySwiper {
  width: 100%;
  height: 400px; /* adjust as needed */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* ===== Custom Scrollbar ===== */

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #fdf7f0; /* same soft background you used for frames */
}

/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background-color: #b89b7a; /* theme brown */
  border-radius: 20px;
  border: 2px solid #fdf7f0; /* creates spacing */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #a18363; /* slightly darker for feedback */
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #b89b7a #fdf7f0;
}
/* Target the Tab when it has the .Mui-selected class */
.MuiTab-root.Mui-selected {
  color: #891b1b !important; /* Changes text color to red */
}

/* Changes the indicator line underneath the tab */
.MuiTabs-indicator {
  background-color: #891b1b !important;
}
.MuiTab-textColorPrimary {
  color: #000000;
}
